/* .all{
    color: #000;
    text-decoration: none;
    line-height: 2;
}
.technologies{
    color: #000;
    text-decoration: none;
    line-height: 2;

}
.entertainment {
    color: #000;
    text-decoration: none;
    line-height: 2;

} */


.listing{
    text-decoration: none;
    color: #000;
    line-height: 2.5;

}
